body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.container_mobile .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.container_mobile .nav .button_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  background-color: #F778B9;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 48px;
}
.container_mobile .nav .button_menu .icon_nav {
  width: 27.78px;
  height: 19.2px;
}
.container_mobile .nav .button_search {
  background-color: transparent;
  border: none;
}
.container_mobile .nav .button_search .icon_nav_search {
  width: 24px;
  height: 24px;
}
.container_mobile .hero {
  margin: 6px 0 8px 0;
}
.container_mobile .hero div#slider {
  overflow: hidden;
}
.container_mobile .hero div#slider figure img {
  width: 20%;
  float: left;
}
.container_mobile .hero div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.container_mobile .information {
  margin: 6px;
}
.container_mobile .information .category_title h6 {
  color: #F778B9;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin: 14.5px 5px;
}
.container_mobile .information .category_title h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #414141;
  margin: 15px 0px;
}
.container_mobile .information .description p {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #414141;
}
.container_mobile .footer {
  margin: 0;
}
.container_mobile .footer img {
  width: 100%;
}
.container_mobile .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 63px 5px 95px;
}
.container_mobile .menu .section1 {
  margin-bottom: 30px;
}
.container_mobile .menu h3 {
  margin: 5px 5px;
  color: #B378FF;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.container_mobile .menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.41px;
  height: 13.41px;
}
.container_mobile .menu a img {
  width: 13.41px;
  height: 13.41px;
}
.container_mobile .menu .option {
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
}
.container_mobile .menu .option p {
  margin: 3px;
  color: #555555;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.container_desktop {
  display: none;
}

@media (min-width: 500px) {
  .container_mobile {
    display: none;
  }
  .container_desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  .container_desktop .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 0px 7px;
  }
  .container_desktop .nav .button_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 48px;
  }
  .container_desktop .nav .button_menu .icon_nav {
    width: 27.78px;
    height: 19.2px;
  }
  .container_desktop .nav .button_search {
    background-color: transparent;
    border: none;
  }
  .container_desktop .nav .button_search .icon_nav_search {
    width: 24px;
    height: 24px;
  }
  .container_desktop .hero {
    flex-direction: row;
    display: flex;
    margin: 6px 0 8px 0;
    width: 100vw;
  }
  .container_desktop .hero div#slider {
    overflow: hidden;
  }
  .container_desktop .hero div#slider figure img {
    width: 20%;
    float: left;
  }
  .container_desktop .hero div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
  }
  @keyframes slidy {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
  .container_desktop .information {
    display: flex;
  }
  .container_desktop .information .content {
    background-color: #F5F5F5;
  }
  .container_desktop .information .content h2 {
    color: #486DB7;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
  .container_desktop .information .content p {
    color: #414141;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  .container_desktop .information .form {
    margin: 60px 20px;
    padding: 10px 80px;
  }
  .container_desktop .information .form .title_form {
    display: flex;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    background: #696969;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    height: 27px;
    width: 170px;
    margin: 10px 60px 10px 10px;
    align-items: center;
    justify-content: center;
  }
  .container_desktop .information .form form {
    display: flex;
    flex-direction: column;
  }
  .container_desktop .information .form form .section_form {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    padding: 3px;
  }
  .container_desktop .information .form form .section_form .imput {
    width: 190px;
    height: 40px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .container_desktop .information .form form .textarea {
    margin: 0px;
    height: 6em;
    width: 400px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .container_desktop .information .form form button {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-left: 350px;
    height: 40px;
    width: 76px;
    background: #696969;
    border: none;
    border-radius: 4px;
  }
  .container_desktop .information .form form button:hover {
    background-color: #9e9e9e;
  }
  .container_desktop .slider_container {
    width: 100vw;
    padding: 10px;
    margin: 0;
  }
  .container_desktop .slider_container ul, .container_desktop .slider_container li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .container_desktop .slider_container ul.slider {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .container_desktop .slider_container ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.5s;
    background: #fff;
  }
  .container_desktop .slider_container ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .container_desktop .slider_container ul.slider li:first-child {
    opacity: 1;
  }
  .container_desktop .slider_container ul.slider li:target {
    opacity: 1;
  }
  .container_desktop .slider_container .menu {
    text-align: center;
  }
  .container_desktop .slider_container .menu li {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }
  .container_desktop .slider_container .menu li a {
    display: flex;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 0.2px;
    height: 0.2px;
    border-radius: 100%;
    margin: 5px 15px;
  }
  .container_desktop .slider_container #slide1 {
    display: flex;
    flex-direction: column;
  }
  .container_desktop .slider_container #slide1 .icon_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .container_desktop .slider_container #slide1 img {
    width: 48px;
    height: 48px;
  }
  .container_desktop .slider_container #slide1 .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #414141;
    padding: 10px 250px;
    margin-bottom: 20px;
  }
  .container_desktop .slider_container #slide1 .author {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #414141;
  }
  .container_desktop .slider_container #slide2 {
    display: flex;
    flex-direction: column;
  }
  .container_desktop .slider_container #slide2 .icon_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .container_desktop .slider_container #slide2 img {
    width: 48px;
    height: 48px;
  }
  .container_desktop .slider_container #slide2 .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #414141;
    padding: 10px 250px;
    margin-bottom: 20px;
  }
  .container_desktop .slider_container #slide2 .author {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #414141;
  }
  .container_desktop .slider_container #slide3 {
    display: flex;
    flex-direction: column;
  }
  .container_desktop .slider_container #slide3 .icon_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .container_desktop .slider_container #slide3 img {
    width: 48px;
    height: 48px;
  }
  .container_desktop .slider_container #slide3 .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #414141;
    padding: 10px 250px;
    margin-bottom: 20px;
  }
  .container_desktop .slider_container #slide3 .author {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #414141;
  }
  .container_desktop .footer {
    margin: 0;
  }
  .container_desktop .footer img {
    width: 100%;
  }
  .container_desktop .menu_container {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  .container_desktop .menu_container .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 63px 5px 95px;
  }
  .container_desktop .menu_container .menu .section1 {
    margin-bottom: 30px;
  }
  .container_desktop .menu_container .menu h3 {
    margin: 5px 5px;
    color: #B378FF;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  .container_desktop .menu_container .menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.41px;
    height: 13.41px;
  }
  .container_desktop .menu_container .menu a img {
    width: 13.41px;
    height: 13.41px;
  }
  .container_desktop .menu_container .menu .option {
    margin: 5px 5px;
    display: flex;
    justify-content: space-between;
  }
  .container_desktop .menu_container .menu .option p {
    margin: 3px;
    color: #555555;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .container_desktop .menu_container .container_faq_publicity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container_desktop .menu_container .container_faq_publicity hr {
    margin: 0;
    padding: 0;
    color: #CACACA;
    height: 0px;
    border: 1px dashed;
  }
  .container_desktop .menu_container .container_faq_publicity .faq {
    padding: 15px;
    margin: 0;
  }
  .container_desktop .menu_container .container_faq_publicity .faq .section {
    display: flex;
    justify-content: space-between;
  }
  .container_desktop .menu_container .container_faq_publicity .faq .section p {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    color: #414141;
  }
  .container_desktop .menu_container .container_faq_publicity .faq .section img {
    padding: 15px;
    width: 15px;
    height: 10px;
  }
  .container_desktop .menu_container .container_faq_publicity .publicity img {
    width: 800px;
  }
}

/*# sourceMappingURL=styles.css.map */
