body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

    .container_mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:100vh;
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        ;
        .button_menu{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            background-color: #F778B9;
            border: none;
            border-radius: 10px;
            width: 50px;
            height: 48px;
            .icon_nav{
                width: 27.78px;
                height: 19.2px;
            }
 
        }
        .button_search{
            background-color: transparent;
            border:none;
            .icon_nav_search{
                width: 24px;
                height: 24px;
            }
        }
    }
    .hero{
        margin: 6px 0 8px 0;
        div#slider { overflow: hidden; }
        div#slider figure img { width: 20%; float: left; }
        div#slider figure { 
                position: relative;
                width: 500%;
                margin: 0;
                left: 0;
                text-align: left;
                font-size: 0;
                animation: 30s slidy infinite;   
            }
        @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }
    }
    .information{
        margin: 6px;
        .category_title{
            h6{
                color: #F778B9;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                margin: 14.5px 5px;
            }
            h1{
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.02em;
                color: #414141;
                margin: 15px 0px;
            }
        }
        .description{
            p{
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #414141;
            }
        }
    }
    .footer{
        margin: 0;
        img{
            width: 100%;
        }
    }

    //open_menu_mobile
    .menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 63px 5px 95px  ;
        .section1{
            margin-bottom: 30px;
        }
        h3{
            margin: 5px 5px;
            color: #B378FF;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 13.41px;
            height: 13.41px;
            img{
                width: 13.41px;
                height: 13.41px;
            } 
        }
            
        .option{
            margin: 5px 5px;
            display: flex;
            justify-content: space-between;
            p{
                margin: 3px;
                color: #555555;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }
        }
        
    }

    }
    .container_desktop{
        display: none;
    }

@media(min-width: 500px){
    .container_mobile{
        display: none;
    }
.container_desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        ;
        .button_menu{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            background-color: transparent;
            border: none;
            border-radius: 10px;
            width: 50px;
            height: 48px;
            .icon_nav{
                width: 27.78px;
                height: 19.2px;
            }
 
        }
        .button_search{
            background-color: transparent;
            border:none;
            .icon_nav_search{
                width: 24px;
                height: 24px;
            }
        }
    }
    .hero_card{
        flex-direction: row;
        display: flex;
        margin: 6px 0 8px 0;
        div#slider { overflow: hidden; }
        div#slider figure img { width: 20%; float: left; }
        div#slider figure { 
                position: relative;
                width: 500%;
                margin: 0;
                left: 0;
                text-align: left;
                font-size: 0;
                animation: 30s slidy infinite;   
            }
        @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }
    
    .card{
        padding: 10px 80px;
        flex-direction: column;
        margin: 6px;
       
        .category_title{
            h6{
                color: #F778B9;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                margin: 14.5px 5px;
            }
            h1{
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.02em;
                color: #414141;
                margin: 15px 0px;
            }
        }
    }
        .description{
            p{
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #414141;
            }
        }
    }
    .information{
        display: flex;
        .content{
            background-color: #F5F5F5;
            h2{
                color: #486DB7;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;

            }
            p{
                color: #414141;
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
            }
        }
        .form{
            margin: 60px 20px;
            padding: 10px 80px;
            .title_form{
                display: flex;
                color: #FFFFFF;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 900;
                font-size: 16px;
                line-height: 24px;
                background: #696969;
                border: none;
                border-radius: 4px;
                padding: 8px 16px;
                height: 27px;
                width: 170px;
                margin: 10px 60px 10px 10px;
                align-items: center;
                justify-content: center;
            }
            form{
                display: flex;
                flex-direction: column;
                .section_form{
                    display: flex;
                    justify-content: space-between;
                    margin: 5px 10px;
                    padding: 3px;
                    .imput{
                        width: 190px;
                        height: 40px; 
                        font-family: 'Source Sans Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    
                }
                .textarea{
                    margin: 0px;
                    height: 6em;
                    width: 400px;
                    font-family: 'Source Sans Pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
                button{
                    color: #FFFFFF;
                    font-family: 'Source Sans Pro';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    margin-left: 350px;
                    height: 40px;
                    width: 76px;
                    background: #696969;
                    border: none;
                    border-radius: 4px;
                }
            }
        }
    }
    .slider_container{
        width: 100vw;
        padding: 10px;
        margin: 0;
        ul, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        ul.slider{
        position: relative;
        width: 100%;
        height: 300px;
        }
        ul.slider li {
            position: absolute;
            left: 0px;
            top: 0px;
            opacity: 0;
            width: inherit;
            height: inherit;
            transition: opacity .5s;
            background:#fff;
        }
        ul.slider li img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        }
        ul.slider li:first-child {
            opacity: 1; 
        }
        ul.slider li:target {
            opacity: 1; 
        }
        .menu{
        text-align: center;
        margin: 20px;
        }
        
        .menu li{
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    
        }
        
        .menu li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: grey;
        padding: 10px;
        width: 0.2px;
        height: 0.2px;
        border-radius: 100%;
        margin: 5px;
        }
        #slide1{
            display: flex;
            flex-direction: column;
            .icon_slider{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
            }
            img{
                width: 48px;
                height: 48px;
            }
            .text{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Merriweather';
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #414141;
                padding: 10px 250px;
                margin-bottom: 20px;
            }
            .author{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #414141;
            }
            
        }
        #slide2{
            display: flex;
            flex-direction: column;
            .icon_slider{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
            }
            img{
                width: 48px;
                height: 48px;
            }
            .text{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Merriweather';
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #414141;
                padding: 10px 250px;
                margin-bottom: 20px;
            }
            .author{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #414141;
            }
            
        }
        #slide3{
            display: flex;
            flex-direction: column;
            .icon_slider{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
            }
            img{
                width: 48px;
                height: 48px;
            }
            .text{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Merriweather';
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #414141;
                padding: 10px 250px;
                margin-bottom: 20px;
            }
            .author{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #414141;
            }
            
        }
    }
    .footer{
        margin: 0;
        img{
            width: 100%;
        }
    }

    //open_menu_mobile
    .menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 63px 5px 95px  ;
        .section1{
            margin-bottom: 30px;
        }
        h3{
            margin: 5px 5px;
            color: #B378FF;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 13.41px;
            height: 13.41px;
            img{
                width: 13.41px;
                height: 13.41px;
            } 
        }
            
        .option{
            margin: 5px 5px;
            display: flex;
            justify-content: space-between;
            p{
                margin: 3px;
                color: #555555;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }
        }
        
    }

    }
}